/* Write your CSS here */
.li-md {
  width: 350px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfccb;
  border: 2px solid #84cc16;
  border-radius: 15px;
  padding: 30px;
  margin: 5px;
}

.md-img {
  width: 80px;
  margin-right: 30px;
}

.md-text {
  color: #475569;
  font-size: 18px;
}

.md-ammount {
  color: #1e293b;
  font-size: 22px;
  font-weight: 500;
}

.md-in {
  background-color: #cffafe;
  border: 2px solid #06b6d4;
}

.md-ex {
  background-color: #cbd5e1;
  border: 2px solid #7c3aed;
}
